# Interface
streamlit

# Agentes
agno

# llm
openai
google-genai

# Banco de dados
sqlalchemy
psycopg2-binary

# Configurações
python-dotenv

# Manipulação de datas
python-dateutil

# Validação de modelos
pydantic

# Utilidades
pandas

# Logging
loguru